/* 
Variables 

*/

:root {
  --main-orange: #ff914d;
  --main-green: #7ca982;
  --main-blue: #2b59c3;
}

/* 
1-1 Corps 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  background: linear-gradient(
      to bottom,
      rgba(102, 31, 31, 0.527) 0%,
      rgba(66, 59, 59, 0.205) 100%
    ),
    radial-gradient(
        at top center,
        rgba(26, 26, 26, 0.4) 0%,
        rgba(0, 0, 0, 0.541) 120%
      )
      #242323;
  background-blend-mode: multiply, multiply;
}

@font-face {
  font-family: "PPHatton-Bold";
  src: url(asset/PPHatton-Bold.otf) format("opentype"),/* IE6-IE8 */ 
    url(asset/PPHatton-Bold.woff) format("woff"),/* Modern Browsers */ 
    url(asset/PPHatton-Bold.ttf) format("truetype"); /* Safari, Android, iOS */

  font-family: "PPHatton-Medium";
  src: url(asset/PPHatton-Medium.otf) format("opentype"),
    url(asset/PPHatton-Medium.woff) format("woff"),
    url(asset/PPHatton-Medium.ttf) format("truetype");

  font-family: "PPHatton-Ultralight";
  src: url(asset/PPHatton-Ultralight.otf) format("opentype"),
    url(asset/PPHatton-Ultralight.woff) format("woff"),
    url(asset/PPHatton-Ultralight.ttf) format("truetype");

  font-family: "PPAgrandir-ThinItalic";
  src: url(asset/PPAgrandir-ThinItalic.otf) format("opentype"),
    url(asset/PPAgrandir-ThinItalic.woff) format("woff"),
    url(asset/PPAgrandir-ThinItalic.ttf) format("truetype");
}

/* 
1-2 Nav
*/

.topnav{
  overflow: hidden;
  /* position: relative; */
}

/* .topnav #mylinks {
  display: none;
} */

.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.topnav a:hover{
  color: black;
  background-color: #fff;
}

.topnav a.active {
  background-color: var(--main-orange);
  padding: 14px 14px;
  color: white;
}

.topnav .icon{
  display: none;
}



@media screen and (max-width: 600px) {

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



/* 
1-3 Title
*/

.title {
  height: 40vh;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title p {
  margin-top: 50px;
  margin-left: 10px;
  color: white;
  font-family: "PPHatton-Bold";
  font-size: 3rem;
}

.photoId {
  margin-top: 70px;
  margin-right: 20px;
}

.circle {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url("asset/img/Lololeveau2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1) contrast(1.4);
  /* -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); */
}

.texteCircle {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  /* animation: circleEffect 8s linear infinite; */
}

/* 
1-4 Logo
*/

.subtitle {
  color: white;
  margin-top: 3px;
  /* margin-left: 10px; */
  display: flex; 
  flex-wrap: wrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.subtitle1 {
  color: white;
  margin-top: 3px;
  /* margin-left: 10px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
 

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstLink {
  height: 30vh;
}

.prez {
  color: white;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 1rem;
  /* font-weight: lighter; */
}

.grpComp {
  height: 30vh;
}

#portfolio{
  display: flex;
  flex-direction: column;
  text-align: center;
}


.grpLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* margin-top: 10px; */
  margin:10;
  margin-bottom: 10px;
}



.emoji {
  color: white;
  font-size: 1.2rem;
}

.logo img {
  width: 30px;
  height: 30px;
  /* filter: opacity(0.7) drop-shadow(0 0 0 rgb(255, 255, 255)); */
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 16px;
}

.grpComp {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}



.desc .speech {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 10px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* 
1-5 Pic
*/

.reveal {
  max-width: 80%;
  max-height: 80%;
  margin-left: 10px;
  margin-top: 20px;
  aspect-ratio: 20/9;
  object-fit: fill;
  animation: myAnim 1s ease 0s 1 normal forwards;
}

.apple {
  max-width: 80%;
  max-height: 80%;
  margin-left: 10px;
  margin-top: 10px;
  aspect-ratio: 20/9;
  object-fit: contain;
  animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.ligne {
  display: flex;
  flex-direction: row;
  max-width: 80%;
}
.tel {
  max-width: 80%;
  aspect-ratio: 20/9;
  object-fit: cover;
  animation: myAnim 1s ease 0s 1 normal forwards;
}


/* =================================================================

MEDIA QUERIES 

================================================================= */




@media screen and (min-width:980px) and (max-width:1920px){

  nav {
    color: #fff;
    width: 100%;
    height: 56px;
    line-height: 56px;
  }
  
 

  .title {
    height: 100vh;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .title p {
    margin-top: 50px;
    margin-left: 20px;
    color: white;
    font-family: "PPHatton-Bold";
    font-size: 12rem;
  }

  .photoId {
    margin-top: 70px;
    margin-right: 70px;
  }

  .circle {
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    border-radius: 50%;
    background: url("asset/img/Lololeveau2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(1) contrast(1.4);
    /* -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); */
  }

  .firstLink {
    height: 10vh;
  }

  .emoji {
    color: white;
    font-size: 4rem;
  }

  .landscape {
    margin-top: 60px;
  }

  .grpLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .grpLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* margin-top: 10px; */
    margin:10;
    margin-bottom: 30px;
  }
  .desc .speech, .grpComp {
   
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 20px;
    color: white;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: lighter;
  }
  .desc{
    max-width: 80%;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .speech{
    display: flex;
    align-items:center;
    /* text-align: center; */
    max-width: 100%;
  }

  .grpComp p{
    font-size: 2rem;
  }

  .reveal {
    max-width: 70%;
    max-height: 70%;
    margin-left: 40px;
    margin-top: 10px;
    margin-top: 10px;
    aspect-ratio: 20/9;
    object-fit: fill;
    animation: myAnim 1s ease 0s 1 normal forwards;
  }

}